# Foundry
contracts/.env

# Scripts
scripts/steamaco/*.csv
web/js/contracts_new.json
scripts/myenv/
scripts/.env
scripts/*.txt
scripts/certificates/out/*
scripts/certificates/node_modules
scripts/certificates/signature.png
scripts/__pycache__
scripts/platform_summary.html
.env

# Web
*.css.map