<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>R-RECs Asset Management Hub</title>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

	<!-- SEO Description -->
	<meta name="author" content="Renewvia Energy Technology">
	<meta name="description" content="Pioneering the future of sustainable energy, R-RECs is committed to driving decarbonization with minimal environmental impact.">
	<link rel="canonical" href="https://www.r-recs.com/account.html">
	<meta name="robots" content="noindex">

	<!-- Open Graph Tags -->
	<meta property="og:title" content="R-RECs Asset Management Hub">
	<meta property="og:description" content="Pioneering the future of sustainable energy, R-RECs is committed to driving decarbonization with minimal environmental impact.">
	<meta property="og:image" content="https://www.r-recs.com/logo.png">
	<meta property="og:image:width" content="711">
	<meta property="og:image:height" content="711">
	<meta property="og:image:alt" content="R-RECs Logo">
	<meta property="og:url" content="https://www.r-recs.com/account.html">
	<meta property="og:type" content="website">

	<!-- Favicon -->
	<link rel="icon" href="./favicon.ico" type="image/x-icon">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="account.css">

	<!-- JavaScript -->
	<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script defer src="account.js"></script>
</head>
<body id="app">
	<header>
		<img src="images/logo-titled.png" alt="R-RECs Logo">
		<nav>
			<input class="menu-btn" type="checkbox" id="menu-btn">
			<label class="menu-icon" for="menu-btn" tabindex="0"><span class="navicon"></span></label>
			<ul class="menu">
				<li><a target="_blank" href="index.html">What are R-RECs</a></li>
				<li><a rel="external" target="_blank" href="https://www.renewvia.com/">Visit Renewvia</a></li>
				<li><a href="The R-REC Standard.pdf" download target="_blank">Read the Standard</a></li>
				<li><a href="mailto:recs@renewvia.com">Contact</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<!-- section 2  -->
		<div id="">
			<div class="logo1">
				<div class="logo-container">
					<img :src="logo" alt="Company Logo">
				</div>
				<div class="column">
					<div class="row">
						<div class="inc">{{name}}</div>
					</div>
					<div class="column1">
						<div class="binary"><a rel="external" target="_blank" :href="`https://bscscan.com/address/${address}`">{{smallAddress}}</a></div>
						<div class="date">Joined {{join_date}}</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end section 2 -->

		<!-- impact section -->
		<div class="impact">
			<h1>My Impact</h1>
			<div class="my-impact">
				<div class="offset">
						<div class="texts">
							<h1>Total amount of carbon offset</h1>
							<p>{{ totalCarbonOffsets.toLocaleString() }} tCO2e</p>
						</div>
						<div class="icon">
							<i class="fas fa-leaf leaf-icon"></i>
						</div>
				</div>
				<div class="generation">
					<div class="texts">
						<h1>Total amount of renewable energy generation</h1>
						<p>{{ totalRenewableEnergy.toLocaleString() }} MWh</p>
					</div>
					<div class="icon">
						<i class="fas fa-solar-panel solar-icon"></i>
					</div>
				</div>
			</div>
		</div>
		<!-- end impact section -->

		<!-- tables -->
		<div class="tables">
			<div class="two-tables">
				<div class="table-column">
					<div class="table1" v-if="assets && assets.length > 0">
						<h1>Carbon Assets</h1>
						<div class="allassets">
							<div class="assets" v-for="asset in assets" :key="asset.id">
								<details>
									<summary>
										<span class="name">{{ asset.name }}</span>
										<span class="qty">{{ asset.amount }}</span>
										<span class="more">More...</span>
									</summary>
									<div class="more-details">
										<span class="image"><img
												:src="asset.img"
												:alt="Image"></span>
										<span class="details">
											<p>{{ asset.description}}</p>
										</span>
									</div>
								</details>
							</div>
						</div>
					</div>

					<div class="table2" v-if="activity && activity.length > 0">
						<h1>Activity</h1>
						<table>
							<thead>
								<tr>
									<th>Date</th>
									<th>Asset</th>
									<th>Action</th>
									<th>Amount</th>
									<th>Status</th>
								</tr>
							</thead>

							<tbody>
								<tr class="assets" v-for="trans in activity" :key="trans.address">
									<td>{{trans.date}}</td>
									<td>{{trans.name}}</td>
									<td>{{trans.action}}</td>
									<td>{{trans.amount}}</td>
									<td><button>Verified</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<!-- chart -->
				<div class="pie-chart" v-if="assets && assets.length > 0">
					<h1>Portfolio Distribution</h1>
					<div class="chart-info">
						<div>
							<canvas ref="myChart"></canvas>
						</div>
						<!-- chart -->

						<ul class="key">
							<li v-for="asset in assets" :key="asset.id">
								<strong class="percent gray">{{ calculatePercentage(asset.amount) }}%</strong>
								<span class="choice">{{ asset.name+'s' }}</span>
							</li>
						</ul>
					</div>

					<!-- retire & purchase -->
					<a class="retire-purchase" rel="external" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Ydc7R_ArakyrYud4pmPU-t4U5WxHzZBLmCpkuvMSmgpUOEtEUTRGS1ZaV09CTDM1VjlMOVJTNFpOWi4u">
						<div class="retire">Retire Current Credits</div>
						<div class="credits">Mark Credits for sale</div>
						<div class="purchase">Purchase New Credits</div>
					</a>
					<!-- end retire & purchase -->
				</div>
				<!-- end of chart -->
			</div>
		</div>
		<!-- end of tables -->
	</main>
</body>

</html>