body{
    background-color: #F9FAF7;
    font-family: 'Roboto', sans-serif;
  }
  /* navigation start*/
  .container{
      width: 90%;
      margin: 0 auto;
    }
    .nav{
      display: flex;
      box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
      background-color: white;
      padding: 0 1rem;
    }
    #menuButton{
      display: none;
    }
    ul{
      justify-content:end;
      display: flex;
      list-style: none;
    }
    ul li{
      margin: 0;
      padding: 0.5rem 0;
      margin-left: 1.5rem;
      color: #ff6d05;
    }
    .team{
      background: #F5F5F5;
      border-radius: 9px;
      padding: 0.5rem 1rem;
    }
    .global{
      background: #e3823c;
      border-radius: 9px;
      padding: 0.5rem 1rem; 
      color: white;
    }
    .global i {
      background-color: white;
      padding: 0.2rem 0.2rem;
      border-radius: 50%;
      margin-right: 0.6rem;
      color:#FF9B53 ;
    }
    .global i .g{
      padding: 0 0 0 0;
      margin: 2rem 0.1rem;
      font-weight: bolder;
      text-align: center;
    }
    img {
      width: 200px; /* Set the desired width */
      height: auto; 
      padding: 0.5rem 0;
      
    }
  /* navigation end */

  .cart-container {
    background-color: #BCBCBC;
    width: 100%;
    margin: 0;
}
.cart-container .cart-icon{
  position: relative;
}
.cart-container .itemsInCart{
  position: absolute;
  width: 34px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  top: -19px;
  right: -22px;
  background: #F47920;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
}

.cart{
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
    align-items: center;
}
span .text{
    color: white;
}
.cards{
    width: 80%;
    display: flex;
    margin:0 auto;
    gap:1rem;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 0.5rem;
    margin-top: 2rem;
    box-shadow: 0px 2px 11px rgba(217, 217, 217, 0.4);
    border-radius: 6px;
}
.items-card{
    width: 60%;
    padding: 1rem 1.2rem  0 1.2rem;
}
.items-card li{
    display: flex;
  justify-content: space-between;
  margin: 0;
  border-bottom:1px #D9D9D9 solid ;
}
.items-card li div{
    width: 25%;
    display: flex;
    justify-content: space-around;
}
.items-card li span{
    font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
}
.items-card .removeCompletely{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-decoration-line: underline;
color: #E90A0A;
}
.cards .purchase-card{
}
.purchase-card .modal-buttons .checkout{
background: #F47920;
color: #FFFFFF;
border: 0;
padding: 0.5rem 2rem ;
}