<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="checkout.css">
        <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <style>
            [v-cloak] {
                display: none;
            }
        </style>
        <script defer src="/checkout.js"></script>
    </head>
    <body id="checkout" v-cloak> 
        <header>
            <nav class="nav">
                <div class="logo">
                     <a href="/">
                     <img src="images/renewvia.webp" alt="renewvia-logo">
                     </a>
                    <a @click="toggleMenu" id="menuButton"><i class="fas fa-bars"></i></a>
                </div>
                <div :class="{ 'hide': isHidden, 'container': !isHidden }" id="info">
                    <ul>
                        <li>
                            <a href="#">ABOUT US</a>
                        </li>
                        <li>WHAT ARE R-RECs</li>
                        <li>PRODUCTS</li>
                        <li class="team">OUR TEAM</li>
                        <li class="global">
                            <i class="fas fa-g"><span class="g"></span></i>globalcorp</li>
                    </ul>
                </div>        
            </nav>
        </header>
    <div class="cart-container" v-cloak>
        <span class="cart">
        <a href="dashboard.html" class="back-button"><Button>Continue Shopping</Button></a>
            <h1 class="text">
                Purchase Cart
            </h1>
            <div class="cart-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-cart3" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <span class="itemsInCart">{{ totalItemsInCart }}</span>
            </div>
        </span>
    </div>
    <div class="cards" v-cloak>
        <ul class=" card items-card" >
            <li v-if="cart.length > 0" v-for="item in cart" :key="item.id">
                <span class="item-name">{{ item.name }}</span>
                <div>
                    <span class="item-price">${{ item.price * item.quantity }}</span>   
                    <span class="removeCompletely" @click="removeFromCartCompletely(item)">remove</span>
                </div>
            </li>
            <h2 v-else>No item in cart</h2>
        </ul>
    
        <div class="card purchase-card">
            <div class="card-title">
                <div>
                    <h2>Order Summary</h2>
                </div>
            </div>
            <div class="card-totals">
                <div class="purchase">
                    <p>Your Purchase</p>
                </div>
                <div class="cart-items">
                    <p>Items in Cart </p> 
                    <span>{{ totalItemsInCart }} </span>
                </div>
                <div class="total">
                    <p>Total </p> 
                    <span>${{ totalCartValue }}</span>  
                </div>
            </div>
            <div class="card-buttons">
                <button class="checkout" >Checkout Now</button>
            </div>
        </div>
    </div>   
</body>
</html>