
body{
  background-color: #F9FAF7;
  font-family: 'Roboto', sans-serif;
}
/* navigation start*/
.container{
    width: 90%;
    margin: 0 auto;
  }
  .nav{
    display: flex;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 0 1rem;
  }
  #menuButton{
    display: none;
  }
  ul{
    justify-content:end;
    display: flex;
    list-style: none;
  }
  ul li{
    margin: 0;
    padding: 0.5rem 0;
    margin-left: 1.5rem;
    color: #ff6d05;
  }
  .team{
    background: #F5F5F5;
    border-radius: 9px;
    padding: 0.5rem 1rem;
  }
  .global{
    background: #e3823c;
    border-radius: 9px;
    padding: 0.5rem 1rem; 
    color: white;
  }
  .global i {
    background-color: white;
    padding: 0.2rem 0.2rem;
    border-radius: 50%;
    margin-right: 0.6rem;
    color:#FF9B53 ;
  }
  .global i .g{
    padding: 0 0 0 0;
    margin: 2rem 0.1rem;
    font-weight: bolder;
    text-align: center;
  }
  img {
    width: 200px; /* Set the desired width */
    height: auto; 
    padding: 0.5rem 0;
    
  }
/* navigation end */

.cart-container {
    background-color: #BCBCBC;
    width: 100%;
    margin: 0;
}
.cart-container .cart-icon{
  position: relative;
}
.cart-container .itemsInCart{
  position: absolute;
  width: 34px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  top: -19px;
  right: -22px;
  background: #F47920;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
}

.cart{
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
    align-items: center;
}
span .text{
    color: white;
}
.columns{
    display: flex;
    margin: 0 4rem;
    gap: 2rem;
}
.category{
    background-color: white;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}
.category-heading {
    position: relative;
    display: inline-block;
    margin-bottom: 0.8rem; /* Adjust as needed */
    width: 100%;
}

.category-heading::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1rem; /* Adjust as needed */
    background-color: rgb(206, 201, 201); /* Replace with your desired color */
    bottom: 0;
    left: 0;
}

.category-section{
    margin-bottom: 10px; /* Adjust the margin */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category-section label{
    font-weight: 600;
    font-size: 0.85rem;
}
.cards{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    margin-bottom: 2rem; /* Adjust as needed */
}

.card {
    width: 25%;
    padding: 20px; /* Adjust as needed */
    background-color: white;
    border-radius: 0.5rem;
    margin-top: 2rem;
    box-shadow: 0px 2px 11px rgba(217, 217, 217, 0.4);
    border-radius: 6px;    
}
.card .section1 h3{
font-weight: 600;
font-size: 1.2rem;
}
.card .section1 span{
font-size: 1.2rem;
}
.card .section1 p{
  width: 80%;
font-weight: 400;
font-size: 12px;
line-height: 17px;
/* display: flex; */
align-items: center;
}
.card .section2 h2{
font-weight: 600;
font-size: 24px;
line-height: 28px;
}

.card .section2 .buttons{
  display: flex;
  align-items: center;
}
.card .section2 .buttons .purchase{
  background: #F47920;
  border-radius: 9px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  color: #FFFFFF;
  border: 0;
  padding: 0.4rem 1rem;
  margin-left:0.3rem ;
  }
.card .section2 .first-buttons{
  display: flex;
  justify-content: space-between;
  width: 30%;
  align-items: center;
}
.card .section2 .first-buttons button{
width: 30px;
height: 36px;
background: #F7F7F7;
border: 0;
}


/* Style the modal container */
.modal {
  /* display: none; */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Background with some transparency */
}

/* Style the modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 70%;
  max-width: 500px;
}
.modal-title{
  background: #EBEBEB;
  border-radius: 0px;
}
.modal-title div {
  padding: 20px;
}
.modal-title h2{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #58585A;
margin: 0;
}
.modal-content .cart-list{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem 1.2rem  0 1.2rem;
}
.modal-content .cart-list li{
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.cart-list span{
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
}

/* pagination start */
.pagination{
  display: flex;
  align-items: center;
  align-content: end;
  /* justify-content: space-around; */
  /* justify-items: flex-end; */
}
.pagination select{
  box-sizing: border-box;
width: 96px;
height: 41px;
background: #FFFFFF;
border: 0.5px solid #7A7A7A;
border-radius: 6px;

}
.pagination span{
font-weight: 400;
font-size: 16px;
line-height: 19px;
}
.pagination button{
/* width: 63px; */
/* height: 22px; */
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #F47920;
border: 0;
padding: 1rem 1.5rem;
border-radius: 1rem;
}
/* pagination end */
.modal-totals{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

}
.modal-buttons{
  padding: 0  1.2rem 1.2rem 1.2rem;
  display: flex;
  justify-content: space-around;
}
.modal-buttons .continue, .modal-buttons .tocart{
width: 186px;
height: 40px;
border-radius: 0px;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
border: 0;
}
.modal-buttons .continue{
  background: #C1C1C1;
}
.modal-buttons .tocart{
  background: #F47920;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


