
body{
  background-color: #F9FAF7;
  font-family: 'Roboto', sans-serif;
}
/* navigation start*/
.container{
    width: 90%;
    margin: 0 auto;
  }
  .nav{
    display: flex;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 0 1rem;
    justify-content: space-between;
  }
  #menuButton{
    display: none;
  }
  ul{
    justify-content:end;
    display: flex;
    list-style: none;
  }
  ul li{
    margin: 0;
    padding: 0.5rem 0;
    margin-left: 1.5rem;
    color: #F06300;
  }
  ul li a{
    color: inherit;
  }
  .team{
    background: #F5F5F5;
    border-radius: 9px;
    padding: 0.5rem 1rem;
    color: #EB6100;
  }
  .global{
    background: #F06300;
    border-radius: 9px;
    padding: 0.5rem 1rem; 
    color: white;
  }
  .global i {
    background-color: white;
    padding: 0.2rem 0.2rem;
    border-radius: 50%;
    margin-right: 0.6rem;
    color:#FF9B53 ;
  }
  .global i .g{
    padding: 0 0 0 0;
    margin: 2rem 0.1rem;
    font-weight: bolder;
    text-align: center;
    color: white;
  }
  img {
    width: 200px; /* Set the desired width */
    height: auto; 
    padding: 0.5rem 0;
    
  }
/* navigation end */

.cart-container {
    background-color: #BCBCBC;
    width: 100%;
    margin: 0;
}
.cart-container .cart-icon{
  position: relative;
}
.cart-container .itemsInCart{
  position: absolute;
  width: 34px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  top: -19px;
  right: -22px;
  background: #F47920;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
}

.cart{
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
    align-items: center;
}
span .text{
    color: #4A4A4A;
}
.columns{
    display: flex;
    margin: 0 4rem;
    gap: 2rem;
}
.columns #categoryButton{
  display: none;
}
.category-big{
    background-color: white;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    border-radius: 0.2rem;
    border-width: 0;
    border-top: 5px;
    border-style: solid;
    border-image: linear-gradient(270deg, #EB6600 0%, #F8D6C8 100%)1;
    height: fit-content;
}
.active{
  display: block;
}

.category-heading {
    position: relative;
    display: inline-block;
    margin-bottom: 0.8rem; /* Adjust as needed */
    width: 100%;
}

.category-heading::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1rem; /* Adjust as needed */
    background-color: rgb(206, 201, 201); /* Replace with your desired color */
    bottom: 0;
    left: 0;
}

.category-section{
    margin-bottom: 10px; /* Adjust the margin */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category-section label{
    font-weight: 600;
    font-size: 0.85rem;
}

input[type="checkbox" i]{
  accent-color: #F06300;
}
.cards{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    margin-bottom: 1rem;
    height: fit-content;
}

.card {
    width: 25%;
    padding: 20px; /* Adjust as needed */
    background-color: white;
    border-radius: 0.5rem;
    margin-top: 2rem;
    box-shadow: 0px 2px 11px rgba(217, 217, 217, 0.4);
    border-width: 0;
    border-top: 5px;
    border-style: solid;
    border-image: linear-gradient(270deg, #EB6600 0%, #F8D6C8 100%)1;
}
.card .section1 h3{
font-weight: 600;
font-size: 1.2rem;
}
.card .section1 span{
font-size: 1.2rem;
}
.card .section1 p{
  width: 80%;
font-weight: 400;
font-size: 12px;
line-height: 17px;
align-items: center;
}
.card .section2 h2{
font-weight: 600;
font-size: 24px;
line-height: 28px;
}

.card .section2 .buttons{
  display: flex;
  align-items: center;
}
.card .section2 .buttons .purchase{
  background: #F06300;
  border-radius: 9px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  color: #FFFFFF;
  border: 0;
  padding: 0.4rem 1rem;
  margin-left:0.3rem ;
  }
.card .section2 .first-buttons{
  display: flex;
  justify-content: space-between;
  width: 30%;
  align-items: center;
}
.card .section2 .first-buttons button{
width: 30px;
height: 36px;
background: #F7F7F7;
border: 0;
}


/* Style the modal container */
.modal {
  /* display: none; */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Background with some transparency */
}

/* Style the modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 70%;
  max-width: 500px;
}
.modal-title{
  background: #EBEBEB;
  border-radius: 0px;
}
.modal-title div {
  padding: 20px;
}
.modal-title h2{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #58585A;
margin: 0;
}
.modal-content .cart-list{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem 1.2rem  0 1.2rem;
}
.modal-content .cart-list li{
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.cart-list span{
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
}

/* pagination start */
.pagination{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin:0 4rem;
  margin-bottom: 3rem;
}
.pagination select{
width: 4rem;
height: 41px;
background: #FFFFFF;
border: 0.5px solid #7A7A7A;
border-radius: 6px;
margin-right: 0.5rem;
text-align: center;
}
.pagination span{
font-weight: 400;
font-size: 16px;
line-height: 19px;
margin-right: 1rem;

}
.pagination button{
font-weight: 400;
font-size: 16px;
line-height: 19px;
background: #F9FAF7;
color: #F06300;
border: 0;
padding: 1rem 1.5rem;
border-radius: 1rem;
}
.pagination button:hover{
  cursor: pointer;
  background: #F5F5F5;
}
.pagination .previous{
  margin-right: 1rem;
}
.pagination ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 1rem;

}
.pagination ul li{
  padding: 0;
  margin: 0;
  margin-right: 0.5rem;
  color: #C7C5C5;
}
.pagination ul li:hover{
  cursor: pointer;
  color: #F06300;
}
.pagination ul .active{
  color: #F06300;
}
/* pagination end */
.modal-totals{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

}
.modal-buttons{
  padding: 0  1.2rem 1.2rem 1.2rem;
  display: flex;
  justify-content: space-around;
}
.modal-buttons .continue, .modal-buttons .tocart{
width: 186px;
height: 40px;
border-radius: 0px;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
border: 0;
}
.modal-buttons .continue{
  background: #C1C1C1;
}
.modal-buttons .tocart{
  background: #F06300;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (750px <= width <= 820px) {
  .columns{
    margin: 0;
  }
  .card{
    width: 40%;
  }
}

@media screen and (max-width:600px) {
  .nav{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
  }
  .hide{
    display: none;
  }
  .nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav ul li{
    margin-bottom: 1rem;
  }
  .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #menuButton{
    display: block;
    /* width: 20%; */
  }
  .cart{
    margin: 0;
    /* display: flex; */
    justify-content: space-evenly;
  }
  .cart h1{
    width: 60%;
    font-size: 1.3rem;
  }
  .columns{
    margin: 0;
    position: relative;
  }
  .columns #categoryButton{
    display: block;
    position: absolute;
    margin-top: 1rem;
  }
  .category-small{
    position: absolute;
      background-color: white;
      margin-top: 2rem;
      padding: 0.5rem 2rem;
      box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
      border-radius: 0.2rem;
      border-width: 0;
      border-top: 5px;
      border-style: solid;
      border-image: linear-gradient(270deg, #EB6600 0%, #F8D6C8 100%)1;
      height: fit-content;
  }
  .cards{
    justify-content: space-around;
    margin-top: 1rem;
  }
  .card{
    width: 40%;
    padding: 0.5rem 0.5rem;
  }
  .card .buttons{
    justify-content: space-between;
  }
  .card .buttons .first-buttons{
    justify-content: space-around;
    width: 100%;
  }
  .pagination{
    justify-content: center;
  }
  .pagination span{
    display: none;
  }
  .modal-buttons{
    justify-content: space-between;
  }
  .modal-buttons .tocart, .modal-buttons .continue{
    width: 100px;
  }
}

@media screen and (max-width:395px){
  .card .section2 .buttons .purchase{
    padding: 0.4rem 0.4rem;
  }
  .pagination{
    justify-content: space-evenly;
    margin: 0;
    padding: 1rem;
  }
  .pagination select{
    margin: 0;
  }
  .pagination .previous{
    margin: 0;
  }
  .pagination ul{
    margin: 0;
  }
  .pagination .next{
    margin: 0;
  }
}

@media screen and (max-width:280px){
  .card .section2 .buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}




