<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="dashboard.css">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script defer src="https://unpkg.com/@vbarbarosh/vue-pager@1.0.2/dist/vue-pager.js"></script>
    <script defer src="/dashboard.js"></script>
</head>
<body id="dashboard" v-cloak>
    <!-- navbar start -->
    <header>
        <nav class="nav">
            <div class="logo">
                 <a href="/">
                 <img src="images/renewvia.webp" alt="renewvia-logo">
                 </a>
                <a @click="toggleMenu" id="menuButton"><i class="fas fa-bars"></i></a>
            </div>
            <div :class="{ 'hide': isHidden, 'container': !isHidden }" id="info">
                <ul>
                    <li>
                        <a href="#">ABOUT US</a>
                    </li>
                    
                    <li>WHAT ARE R-RECs</li>
                    <li>PRODUCTS</li>
                    <li class="team">OUR TEAM</li>
                    <li class="global">
                        <i class="fas fa-g"><span class="g"></span></i>globalcorp</li>
                </ul>
            </div>        
        </nav>
    </header>
    <!-- navbar end -->

    <!-- main section start -->

    <div class="cart-container" v-cloak>
            <span class="cart">
                <h1 class="text">
                    Get started by choosing your R-RECs below
                </h1>
                <div class="cart-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-cart3" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <span class="itemsInCart">{{ totalItemsInCart }}</span>
                </div>
            </span>
    </div>
    <div class="columns" v-cloak>
        <a @click="toggleCategory" id="categoryButton"><i class="fas fa-bars"></i></a>
            <div :class="{ 'hide category-big': isHiddenCategory, 'category-small': !isHiddenCategory }" id="category">
                <h2 class="category-heading">Category</h2>
                <div class="category-section" v-for="category in categories" :key="category.id">
                        <label :for="category.name">{{ category.name }}</label>
                      <input type="checkbox" v-model="selectedCategories" :value="category.name" :id="category.name"/>
                </div>
                
    
                <h2 class="category-heading">Country</h2>
                <div class="category-section" v-for="country in countries" :key="country.id">
                    <label :for="country.name">{{ country.name }}</label>
                  <input type="checkbox" v-model="selectedCountries" :value="country.name" :id="country.name"/>
                </div>
                
            </div>
                <div class="cards" v-if="paginatedData && paginatedData.length > 0">
                        <div class="card" v-for="asset in paginatedData" :key="asset.id">
                        <div v-if="asset" class="section1">
                            <h3>{{asset.name}}</h3>
                            <span>${{asset.price}}.00/REC</span> 
                            <p>{{asset.description}}</p>

                        </div>
                        <div class="section2">
                            <h2 class="totalPerAsset">${{ totalPerAsset[asset.address] || 0 }}</h2>
                            <div class="buttons">
                                <div class="first-buttons">
                                    <button class="reduce" @click="removeFromCart(asset)">-</button>
                                    <span class="quantity" :id="'quantity-' + asset.id">{{ getQuantity(asset) }}</span>
                                    <button class="add" @click="addToCart(asset)">+</button>
                                </div>
                                <button class="purchase" @click="purchase()">Purchase</button>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

    <!-- pagination start -->
    <div class="pagination" v-if="totalPages > 1" v-cloak>
        <select id="pageselect" v-model="currentPage" @change="jumpToPage($event.target.value)" menuPlacement="top" aria-label="Select a page">
          <option v-for="page in visiblePages" :value="page">{{ page }}</option>
        </select>
        <span>R-RECs per page</span>
        <button class="previous" @click="prevPage">Previous</button>
        <ul>
            <li :class="{ active: currentPage === page }" v-for="page in visiblePages" @click="jumpToPage(page)">{{ page }}</li>
        </ul>
        <button class="next" @click="nextPage">Next</button>
            
    </div>
    <!-- pagination end -->

    
    <!-- modal start -->
    <div class="modal modal_inactive" v-if="showModal" v-cloak>
        <div class="modal-content">
            <div class="modal-title">
                    <div>
                        <span class="close" @click="closeModal">&times;</span>
                        <h2>Added to cart</h2>
                    </div>
            </div>
                <ul class="cart-list">
                    <li v-for="item in cart" :key="item.id">
                        <span>{{ item.name }}</span>
                        <span>${{ item.price * item.quantity }}</span>   
                    </li>
                </ul>
                <hr>
                <div class="modal-totals">
                    <p>{{ totalItemsInCart }} Items in Cart</p>
                    <p>Subtotal ${{ totalCartValue }}</p>   
                </div>
                <div class="modal-buttons">
                    <button class="continue" @click="closeModal">Continue Shopping</button>
                    <button class="tocart" @click="goToCheckout">Go to Checkout</button>
                </div>
            </div>
        </div>
    <!-- modal end -->

    <!-- main section end -->
</body>
</html>