body{
    background-color: #F9FAF7;
    font-family: 'Roboto', sans-serif;
  }


  /* navigation */
  .container{
    width: 90%;
    margin: 0 auto;
  }
  .nav{
    display: flex;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 0 1rem;
    justify-content: space-between;
  }
  #menuButton{
    display: none;
  }
  nav ul{
    justify-content:end;
    display: flex;
    align-items: center;
    list-style: none;
  }
  nav ul li{
    margin: 0;
    padding: 0.5rem 0;
    margin-left: 1.5rem;
    color: #F06300;
  }
 nav ul li a{
    color: inherit;
  }
  .team{
    background: #F5F5F5;
    border-radius: 9px;
    padding: 0.5rem 1rem;
  }
  .global{
    display: flex;
    align-items: center;
    background: #F06300;
    border-radius: 9px;
    padding: 0.5rem 1rem;
    color: white;
  }
  .global img {
    background-color: white;
    padding: 0.2rem 0.2rem;
    border-radius: 50%;
    margin-right: 0.6rem;
    color:#EB6600 ;
    width: 2rem;
    height: 2rem;
  }
  img {
    width: 200px; /* Set the desired width */
    height: auto;
    padding: 0.5rem 0;

  }
  /* end navigation */

  /* section 2 */
  .logo1{
    border-bottom: 2px solid #D9D9D9;
    display: flex;
    padding: 2rem 2rem 2rem 2rem;
    width: 90%;
    margin-bottom: 1rem;
  }
  .logo-container {
    max-width: 200px; /*Adjust the size as needed*/
    margin: 0;
  }
  .logo-container img {
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    background-color: white;
    border-radius: 50%;
  }
  .inc{
    font-weight: bold;
  }
  .column{
    margin: 0.8rem 1.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .column1{
    margin-top: 0.4rem;
    display: flex;
    gap: 2rem;
  }
  .binary{
    width: 20%;
    color: #F06300;
    font-size: 1rem;
    overflow: hidden;
  }
  .date{
    font-weight: 400;
    font-size: 1rem;
  }

  /* end section 2 */

  /* impact section */
  .my-impact{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: linear-gradient(270deg, #F06300 0%, #eb7b2b 100%);
    border-radius: 6px;
    margin-bottom: 2.5rem;
  }
  .my-impact div{
    color: white;
    width: 50%;
  }
  .my-impact .offset{
    border-right: 1px white solid ;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    /* align-items: center; */
  }
  .my-impact .generation{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 4rem;
  }
  .my-impact div h1{
    flex-grow: 1;
    font-weight: 500;
    font-size: 1.1rem;
    color: #FFFFFF;
  }
  .impact-icon{
  display: flex;
  align-items: center;
  gap: 3rem;
  }
  .generation .impact-icon{
    gap: 0;
    width: 70%;
  }
  .my-impact i{
  margin: 1rem 0 0 0.5rem;
  font-size: 4rem;
  animation-fill-mode: backwards;
  }

  .tree-icon{
    color:#0F9D58;
  }
  .leaf-icon{
    color: #0F9D58;
  }
  .my-impact div p{
    font-weight: 400;
    font-size: 1.8rem;
  }
  /* end of impact section */

  /* tables */
  .tables{
    margin: 0 0 2.5rem 1rem;
  }
  .two-tables {
    display: flex;
    /* align-items: flex-start; */
    /* width: 100%; */
  }
  .table-column {
    width: 40%;
    padding-right: 1rem;
  }
  .pie-chart {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
    /* padding:1rem 1rem 1rem 3rem; */
  }
  .chart-info{
    display: flex;
    width: 100%;
  }


  .table1 {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-bottom: 3rem;
  }
  .table1 h1{
    text-transform: capitalize;
    font-size: 1.5rem;
  }

  .table1 table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    padding: 0.4rem 1rem;
    border-radius: 0.6rem;
  }
  .noborders td {
    border:0;
  }
  .table1 .allassets{
    background: #fff;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
  }
  .table1 .assets details{
    display: flex;
    flex-direction: column;
  }
  .table1 .assets details summary{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #ccc;
  }
  .table1 .assets details summary span{
    width: 33%;
  }
  .table1 .assets details summary .name{
    font-weight: 300;
    font-size: 1rem;
  }
  .table1 .assets details summary .qty{
    text-align: right;
    font-weight: 300;
  }
  .table1 .assets details summary .more{
    color: #F06300;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: right;
  }
  .table1 .assets details summary .more:hover{
    cursor: pointer;
  }
  .table1 .assets details .more-details{
    display: flex;
    border-bottom: 2px solid #ccc;
    width: 90%;
    margin: 0 auto;
  }
  .table1 .assets details .more-details span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
  }
  .table1.assets details .more-details span.image{
    width: 40%;
  }
  .table1.assets details .more-details span.details{
    width: 60%;
  }
  .table1 .assets details .more-details span img{
    border-radius: 1.5rem;
    width: 13rem;
  }
  .table2{
  font-weight: 500;
  }
  .table2 table{
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 0.4rem 1rem;
    border-radius: 0.6rem;
  }
  .table2 h1{
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  .table2 th{
    padding: 1.5rem 0.7rem;
    text-align: left;
    font-weight: 500;
    font-size: 1rem;
  }
  .table2 th{
  border-bottom: 2px solid #ccc;
  font-weight: bold;
  }

  .table2 td {
    padding: 0.5rem 0.7rem;
    border-bottom: 2px solid #ccc;
    font-weight: 300;
    font-size: 1rem;
  }
  .table2 tr td button{
    background-color: #F06300;
    border-radius: 0.5rem;
    border: #ccc;
    color: white;
    font-weight: bold;
    font-size: small;
    padding: 0.5rem;
    margin-right: 0.2rem;
  }

  /* tables */

  /* chart percentages */
  .key {
    width: 100%;
    display: flex;
    flex-direction: column;
   justify-content: center;
  }

  .key li {
    display: table-row;
  }

  .key li > * {
    display: table-cell;
    border-bottom: 12px solid rgb(251, 250, 250);
    background-color: rgb(238, 234, 234);
  }

  .percent {
    color: black;
    padding: 10px 2px;
    text-align: center;
    padding-left: 0.5rem;
  }
  .choice {
    padding: 0 0.5rem;
    color:#D15700;
  }

  * {
    box-sizing: border-box;
  }


  /* retire and purchase */

  .retire-purchase {
  width: 100%;
  height: 5rem;
  background-color: #fff;
  border-radius: 0.7rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  margin-top: 2rem;
  }

  .retire, .purchase, .credits {
  /* font-size: 18px; */
  font-weight: small;
  font-size: small;
  }
  .retire{
  background:#f46f11;
  color: #fff;
  border-radius: 0.7rem;
  text-transform: capitalize;
  padding: 0.5rem 0;
  width: 30%;
  }
  .purchase{
  outline: 1px solid #ccc;
  color: #5a5a5a;
  border-radius: 0.7rem;
  text-transform: capitalize;
  padding: 0.5rem 0;
  width: 30%;
}
.credits{
  background: #0F9D58;
  color: #fff;
  border-radius: 0.7rem;
  text-transform: capitalize;
  padding: 0.5rem 0;
  width: 30%;

  }

  .retire:before, .purchase:before{
  display: flex;
  margin: 0 auto 0.5rem;
  border-radius: 5px;
  }

/* tablet */
@media screen and (max-width:850px){
  .global img{
    display: none;
  }
  .table-column{
    width: auto;
  }
  .chart-info{
    flex-direction: column;
  }
  .my-impact i{
    display: none;
  }
}

  /* mobile */
  @media screen and (max-width:600px) {
    *{
      padding: 0;
      box-sizing: border-box;
    }
    .container{
      display: flex;
      flex-direction: column;
    }
    .nav{
      display: flex;
      flex-direction: column;
      padding-bottom: 0.5rem;
    }
    .hide{
      display: none;
    }
    .nav ul{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .nav ul li{
      margin-bottom: 1rem;
    }
    .logo{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    #menuButton{
      display: block;
    }

    .logo1{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;
      margin: 0 auto 1rem auto;
    }

    .logo-container img {
      width:4.4rem;
      height:4.4rem;
    }
    .logo1 .logo-container{
      width: 30%;
    }
    .logo1 .column{
      margin: 0;
      padding-left: 2rem;
      width: 90%;
    }
    .logo1 .column .inc{
      font-size: medium;
    }
    .logo1 .column .column1{
      gap: 0.5rem;
    }
    .logo1 .column .column1 div{
      font-size: small;
    }
    .my-impact{
      display: flex;
      gap: 1rem;
    }
    .my-impact .offset{
      border-right: 2px #ccc solid;
    }
    .my-impact::before{
      display: none;
    }
    .my-impact div{
      width: 50%;
    }
    .my-impact div .impact-icon{
      width: 100%;
      align-items: center;
    }
    .my-impact div .impact-icon h1{
      width: 80%;
    }
    .my-impact div .impact-icon i{
      margin: 0;
    }
    .my-impact div p{
      margin-top: 1rem;
      font-size: 1.2rem;
    }
    .my-impact i{
      display: none;
    }
    .tables{
      margin: 0;
    }
    table{
      flex-wrap: wrap;
    }
    tbody tr{
      width: 100%;
    }
    .two-tables{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .table-column{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .table1{
      width: 100%;
    }
    .table1 table{
      width: 100%;
      border-collapse: unset;
      padding-bottom: 0;
    }
    .table1 table td{
      padding: 0 1.4rem;
    }
    .table2{
      margin-bottom: 2rem;
      width: 100%;
    }

    .table2 td{
      padding: 0.5rem 0.2rem;
      font-size: 0.8rem;
    }
    .table2 th{
      padding: 1.5rem 0.444rem;
        text-align: left;
        font-weight: bold;
        font-size: 0.9rem;
    }

    .table2 table tbody{
      padding: 4rem 4rem;
    }
    .pie-chart{
      width: 100%;
      padding: 0.1rem;
    }
    .pie-chart h1{
      margin-bottom: 1.5rem;
      text-align: center;
    }
    .pie-chart .chart-info{
      flex-direction: column;
    }
    .pie-chart .chart{
      margin: 1rem 0;
    }
    .pie-chart ul{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      width: 90%;
      margin: 1rem 0;
    }
    .pie-chart li{
      margin: 0;
      padding: 0;
    }
    .pie-chart li .choice{
      padding: 0 0 0 1rem;
    }
    .pie-chart .retire-purchase{
      width: 100%;
      padding: 0;
    }
    .pie-chart .retire-purchase div{
      width: 30%;
      padding: 3px 1px;
    }
  }

  /* mobile small */
  @media screen and (max-width:300px){
    .table2 th{
      padding: 1.5rem 4px;
    }
    .table2 table tr{
      display: table-caption;
    }
    .my-impact i{
      display: none;
    }
  }