:root {
	--left-padding: 1rem;
	--orange: #F06300;
	--green: #0F9D58;
}
* {
	font-family: 'Roboto', sans-serif;
}
body {
	margin: 0;
}

header {
	display: flex;
	box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
	background-color: white;
	padding: 0 1rem;
	justify-content: space-between;
}
header img {
	height: 3.2rem;
	width: auto;
	padding: 0.5rem 0;
}

header .menu-btn {
	display: none;
}
header .menu-icon {
	display: none;
}
header nav {
	display: flex;
	align-items: center;
}
header ul {
	list-style: none;
	text-align: center;
	font-size: 0.7em;
	padding-left: 0;
	margin: 0;
}
header ul li {
	display: inline-block;
	font-size: 1.1rem;
}
header ul li a {
	text-align: center;
	margin: 0 1em;
	white-space: nowrap;
	color: var(--orange);
	text-decoration: none;
}

.footer-container {
	width: 90%;
	margin: 0 auto;
}
.footer-main {
	display: flex;
	justify-content: space-between;
}
.footer-logo {
	display: flex;
	align-items: center;
}
.footer-logo img {
	max-width: 8cm;
	height: auto;
}
.footer-contact {
	text-align: right;
}
.footer-contact a {
	text-decoration: none;
}
.footer-contact a:hover {
	text-decoration: underline;
}
.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
}
.footer-copyright {
	font-size: 0.9rem;
	color: rgba(0, 0, 0, 0.7);
}
.footer-social {
	display: flex;
	gap: 1rem;
}
.social-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 0.6cm;
	height: 0.6cm;
	border-radius: 50%;
	text-decoration: none;
	fill-opacity: 0.7;
}
.social-icon:hover {
	fill-opacity: 0.9;
}