:root {
	--left-padding: 1rem;
	--orange: #F06300;
	--green: #0F9D58;
}
* {
	font-family: 'Roboto', sans-serif;
}
body {
	margin: 0;
}

header {
	display: flex;
	box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
	background-color: white;
	padding: 0 1rem;
	justify-content: space-between;
}
header img {
	height: 3.2rem;
	width: auto;
	padding: 0.5rem 0;
}

header .menu-btn {
	display: none;
}
header .menu-icon {
	display: none;
}
header nav {
	display: flex;
	align-items: center;
}
header ul {
	list-style: none;
	text-align: center;
	font-size: 0.7em;
	padding-left: 0;
	margin: 0;
}
header ul li {
	display: inline-block;
	font-size: 1.1rem;
}
header ul li a {
	text-align: center;
	margin: 0 1em;
	white-space: nowrap;
	color: var(--orange);
	text-decoration: none;
}