ETHERSCAN_API_KEY=Your-etherscan-api-key
POLYGONSCAN_API_KEY=Your-polygonscan-api-key
PRIVATE_KEY=0xYour-wallet-private-key
OWNER=Owner-wallet-address

# Mint Script Parameters
MINT_PROXY=contract-address-of-proxy
MINT_RECIPIENT=wallet-address-of-recipient
MINT_AMOUNT=quantity-of-tokens-to-mint
MINT_V_DATA=url-of-verification-data

# DeployNewContract Script Parameters
DEPLOY_NAME="full name of contract, e.g., Kenya R-REC"
DEPLOY_SYMBOL="abbreviation of contract, e.g., RREC-AKE"